In [1]:
import patoolib # to extract the files
import pandas as pd # for data analysis and manipulation
import numpy as np # for scientific computing

In [2]:
#patoolib.extract_archive("raw/cancellation_prediction.rar", outdir="raw/")

In [3]:
df = pd.read_csv("raw/cancellation_prediction.csv")

In [4]:
df.iloc[0]

type                               Fancy Hotel
cancellation                                 0
days_between_booking_arrival               342
year_arrival_date                         2015
month_arrival_date                        July
week_number_arrival_date                    27
day_of_month_arrival_date                    1
num_weekend_nights                           0
num_workweek_nights                          0
num_adults                                   2
num_children                               0.0
num_babies                                   0
breakfast                                 True
country                                    PRT
market_segment                               0
distribution_channel                         0
repeated_guest                               0
num_previous_cancellations                   0
num_previous_stays                           0
reserved_room                                C
changes_between_booking_arrival              3
deposit_policy                      No Deposit
id_travel_agency_booking                   NaN
id_person_booking                          NaN
customer_type                                0
avg_price                                  0.0
required_car_parking_spaces                  0
total_of_special_requests                    0
Name: 0, dtype: object

In [5]:
df["cancellation"].mean() # percentage of clients who cancelled their reservation

0.37041628277075134

In [6]:
df.dtypes.unique()

array([dtype('O'), dtype('int64'), dtype('float64'), dtype('bool')],
      dtype=object)

In [7]:
numeric_columns = df.select_dtypes(include=["int64", "float64"])
non_numeric_columns = df.select_dtypes(include=["object"])
bool_columns = df.select_dtypes(include=["bool"])

In [30]:
# Tendency
mean = pd.DataFrame(numeric_columns.mean()).round(2).T
median = pd.DataFrame(numeric_columns.median()).round(2).T

# Dispersion
std = pd.DataFrame(numeric_columns.std()).round(2).T
v_max = pd.DataFrame(numeric_columns.max()).round(2).T
v_min = pd.DataFrame(numeric_columns.min()).round(2).T

x = lambda x: x.max() - x.min()
v_range = pd.DataFrame(numeric_columns.apply(x)).T

x = lambda x: x.skew().round(2)
skew = pd.DataFrame(numeric_columns.apply(x)).T

x = lambda x: x.kurt().round(2)
kurt = pd.DataFrame(numeric_columns.apply(x)).T

data_description = pd.concat([mean, median, std, v_max, v_min, v_range, skew, kurt]).T.reset_index()
data_description.columns = ["column", "mean", "median", "std", "max", "min", "range", "skew", "kurt"]
data_description

,column,mean,median,std,max,min,range,skew,kurt
0,cancellation,0.37,0.00,0.48,1.0,0.0,1.0,0.54,-1.71
1,days_between_booking_arrival,104.01,69.00,106.86,737.0,0.0,737.0,1.35,1.70
2,year_arrival_date,2016.16,2016.00,0.71,2017.0,2015.0,2.0,-0.23,-0.99
3,week_number_arrival_date,27.17,28.00,13.61,53.0,1.0,52.0,-0.01,-0.99
4,day_of_month_arrival_date,15.80,16.00,8.78,31.0,1.0,30.0,-0.00,-1.19
5,num_weekend_nights,0.93,1.00,1.00,19.0,0.0,19.0,1.38,7.17
6,num_workweek_nights,2.50,2.00,1.91,50.0,0.0,50.0,2.86,24.28
7,num_adults,1.86,2.00,0.58,55.0,0.0,55.0,18.32,1352.12
8,num_children,0.10,0.00,0.40,10.0,0.0,10.0,4.11,18.67
9,num_babies,0.01,0.00,0.10,10.0,0.0,10.0,24.65,1633.95
10,market_segment,2.47,2.00,1.42,7.0,0.0,7.0,0.40,-0.09
11,distribution_channel,1.70,2.00,0.68,4.0,0.0,4.0,-1.84,2.08
12,repeated_guest,0.03,0.00,0.18,1.0,0.0,1.0,5.33,26.37
13,num_previous_cancellations,0.09,0.00,0.84,26.0,0.0,26.0,24.46,674.07
14,num_previous_stays,0.14,0.00,1.50,72.0,0.0,72.0,23.54,767.25
15,changes_between_booking_arrival,0.22,0.00,0.65,21.0,0.0,21.0,6.00,79.39
16,id_travel_agency_booking,86.69,14.00,110.77,535.0,1.0,534.0,1.09,-0.01
17,id_person_booking,189.27,179.00,131.66,543.0,6.0,537.0,0.60,-0.49
18,customer_type,0.47,0.00,0.84,3.0,0.0,3.0,1.30,-0.15
19,avg_price,101.72,94.58,47.82,300.0,0.0,300.0,0.94,1.60
20,required_car_parking_spaces,0.06,0.00,0.25,8.0,0.0,8.0,4.16,30.00
21,total_of_special_requests,0.57,0.00,0.79,5.0,0.0,5.0,1.35,1.49

In [ ]:
# hipotese para item c):
# 1. A separação temporal implica que os padrões observados em determinado ano(s) sem repetiram nos próximos anos.
# 2. A separação aleatoria dá margem para que o modelo não overfite os padrões de determinados anos, se "preparando" para uma aleatoriedade futura.
# 3. Verificar resultados para certeza.